<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="common/layout/dependencies :: fragment-dependencies"></div>
    <link rel="stylesheet" href="/css/blog.css">
</head>
<body>
<div th:replace="common/layout/mynav :: fragment-mynav"></div>
<div class="d-flex flex-column align-items-center py-5 px-0">
    <div class="d-flex align-items-start col-6 userinfo">
        <div class="d-flex">
            <div class="img-area">
                <img class="rounded-circle mx-auto d-block" width="128" height="128" alt=""
                     th:if="${userData.profileImg} != null" th:src="${userData.profileImg}"/>
                <img class="rounded-circle mx-auto d-block" width="128" height="128" alt=""
                     th:unless="${userData.profileImg} != null" src="/images/clog_logo.png"/>
            </div>
            <div class="flex-column text-start justify-content-center ps-5 align-self-center">
                <a class="d-inline-block mb-1" th:href="'/blog/' + ${userData.userBlogName}">
                    <span class="nickname" th:text="${userData.userNickname}"></span>
                </a>
                <p class="description mb-1" th:if="${userData.userIntroduce} != null" th:text="${userData.userIntroduce}"></p>
                <p class="description mb-1" th:unless="${userData.userIntroduce} != null">소개글이 없습니다.</p>
            </div>
        </div>
    </div>
    <div class="d-flex align-items-start col-6 socialInfo">
        <div class="d-flex flex-row">
            <a th:href="${userData.userGithub}" th:if="${userData.userGithub} != null" data-bs-toggle="tooltip" data-bs-title="Github" target="_blank">
                <img src="/images/github-mark.png" width="32" height="32"/>
            </a>
            <a th:href="${userData.userFacebook}" th:if="${userData.userFacebook} != null" data-bs-toggle="tooltip" data-bs-title="Facebook" target="_blank">
                <img src="/images/facebook-mark.png" width="32" height="32"/>
            </a>
            <a th:href="${userData.userTwitter}" th:if="${userData.userTwitter} != null" data-bs-toggle="tooltip" data-bs-title="Twitter" target="_blank">
                <img src="/images/twitter-mark.png" width="32" height="32"/>
            </a>
            <a th:href="${userData.userHomepage}" th:if="${userData.userHomepage} != null" data-bs-toggle="tooltip" data-bs-title="HomePage" target="_blank">
                <img src="/images/home-mark.png" width="32" height="32"/>
            </a>
        </div>
    </div>
</div>
<div class="d-flex">
    <div class="d-flex flex-row col-12">
        <div class="d-flex flex-column align-items-center col-3">
            <div class="d-flex flex-column text-start col-6 ps-3">
                <div class="d-flex tag-title border-bottom border-secondary border-1 pb-2 mb-2">태그 목록</div>
                <ul id="tagNav" class="d-flex flex-column text-start list-unstyled">
                    <li class="pb-1"><a class="nav-menu active" href="#" data-key="all">전체보기</a></li>
                </ul>
            </div>
        </div>
        <div id="postlist" class="d-flex flex-column col-9">

        </div>
    </div>
</div>
<script>
    const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]');
    const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl));

    var userNo = [[${userData.userNo}]];

    var container = $('#postlist');
    var nav = $('#tagNav');

    var fn = {
        selectUserPost: function (primaryNo) {
            console.log(primaryNo);

            var currentPath = window.location.pathname;

            paramMap = {
                dataParam: {
                    blogName: currentPath.split('/blog/')[1]
                },
                url: '/post/selectuserpost'
            };

            Utils.request(paramMap, function (response) {
                createPost(response);
                evt.selectPostAndTag();
            });
        }
    }

    var evt = {
        init: function () {
            this.selectUserPost();
        },
        selectUserPost: function () {
            fn.selectUserPost(userNo);
        },
        selectPostAndTag: function () {
            var navElements = document.querySelectorAll('.nav-menu');

            navElements.forEach(function (navEl) {
                navEl.removeEventListener('click', clickHandler);
                navEl.addEventListener('click', clickHandler);
            });

            function clickHandler(evt) {
                evt.preventDefault();

                navElements.forEach(function (el) {
                    el.classList.remove('active');
                });

                this.classList.add('active');

                var paramMap = {
                    dataParam: {
                        postTag: this.dataset.key,
                        userNo: userNo
                    },
                    url: '/post/blog/list'
                }

                Utils.request(paramMap, function (response) {
                    if (container.children().length > 0) {
                        container.empty();
                    }
                    createPost(response);
                });
            }
        }
    }

    function createPost(response) {
        var appendHtml;

        // 게시글이 존재하지 않을 때
        if (response.list.length <= 0) {
            appendHtml = `
                        <div class="d-flex row justify-content-center px-0 mx-0 py-5">
                            <div class="d-flex flex-column col-8 text-start px-0 mx-0">
                                <h1 class="text-secondary">작성된 게시글이 없습니다.</h1>
                            </div>
                        </div>
                    `;
            container.append(appendHtml);
            return;
        }

        // 게시글이 존재할때 동적으로 랜더링
        response.list.forEach(function (post) {
            appendHtml = `
                        <div class="d-flex row justify-content-start px-0 mx-0 py-5">
                            <div class="d-flex flex-column col-8 text-start px-0 mx-0">
                                <h3 class="post-title"><a href="/post/${post.postNo}"></a></h3>
                                <p class="post-body"></p>
                                <div class="d-inline-block">
                                    <span class="post-tag"></span>
                                </div>
                                <div class="d-flex flex-row text-start pt-2 sub-text">
                                    <span class="pe-2"></span>
                                    <span class="pe-2"></span>
                                    <span class="pe-2"></span>
                                </div>
                            </div>
                        </div>
                    `;

            container.append(appendHtml);

            // 제목 설정
            var titleElement = container.find('.post-title:last');
            var anchorElement = titleElement.find('a');
            if (post.postTitle.length > 22) {
                anchorElement.html(post.postTitle.substring(0, 23));
            } else {
                anchorElement.html(post.postTitle);
            }

            // 본문 설정
            var bodyElement = container.find('.post-body:last');
            var parsedPostBody = document.createElement('div');
            parsedPostBody.innerHTML = post.postBody;

            // 텍스트 추출
            var plainText = parsedPostBody.textContent || parsedPostBody.innerText;

            // 텍스트 설정
            if (plainText.length > 150) {
                bodyElement.html(plainText.substring(0, 150));
            } else {
                bodyElement.html(plainText);
            }

            // 태그 설정
            var tagElement = container.find('.post-tag:last');
            tagElement.html(post.postTag);

            // 날짜 설정
            var dateElement = container.find('.sub-text:last');
            var createDate = new Date(post.createDate);
            var formattedDate = createDate.getFullYear() + '년 ' + (createDate.getMonth() + 1) + '월 ' + createDate.getDate() + '일';
            dateElement.children('.pe-2').first().text(formattedDate + ' ·');

            // 댓글 설정
            var replyElement = container.find('.sub-text:last');
            if (post.replyCount === undefined || post.replyCount <= 0) {
                replyElement.children('.pe-2:eq(1)').text(' 0개의 댓글  ·');
            } else {
                replyElement.children('.pe-2:eq(1)').text(post.replyCount + '개의 댓글  ·');
            }

            // 좋아요 설정
            var likeElement = container.find('.sub-text:last');
            if (post.likeCount == undefined || post.likeCount <= 0) {
                likeElement.children('.pe-2').last().html(' &hearts; 0');
            } else {
                likeElement.children('.pe-2').last().html(' &hearts; ' + post.likeCount);
            }
        });

        // Nav Settings
        var navAppendHtml;
        var sumCountTags = 0;

        if (response.tagCount && Object.keys(response.tagCount).length > 0) {
            Object.keys(response.tagCount).forEach(function (key) {
                var value = response.tagCount[key];
                sumCountTags += value;

                navAppendHtml = `
                        <li class="pb-1"><a class="nav-menu" href="#" data-key="${key}">${key} (${value})</a></li>
                    `;

                nav.append(navAppendHtml);
            });

            // 전체보기
            var allViewElement = nav.find('.nav-menu:first');
            allViewElement.text('전체보기' + ' (' + sumCountTags + ')');
        }
    }

    document.addEventListener('DOMContentLoaded', function () {
        evt.init();
    });
</script>
</body>
</html>