<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="common/layout/dependencies :: fragment-dependencies"></div>
    <link rel="stylesheet" href="/css/setting.css">
</head>
<body>
<div th:replace="common/layout/nav :: fragment-nav"></div>
<div class="d-flex flex-column align-items-center py-5">
    <div class="d-flex flex-row info-area">
        <div class="d-flex flex-column text-center img-area col-3">
            <img class="rounded-circle mx-auto d-block" width="128" height="128" alt="" th:if="${#authentication.principal.user.profileImg} != null" th:src="${#authentication.principal.user.profileImg}"/>
            <img class="rounded-circle mx-auto d-block" width="128" height="128" alt="" th:unless="${#authentication.principal.user.profileImg} != null" src="/images/clog_logo.png"/>
            <div class="pt-2">
                <input id="imgInput" type="file" style="display: none;" accept="image/jpeg, image/png">
                <button id="uploadImgBtn" class="btn btn-success">이미지 업로드</button>
            </div>
            <div class="pt-2">
                <button id="deleteImgBtn" class="btn btn-success btn-reverse">이미지 제거</button>
            </div>
        </div>
        <div class="d-flex flex-column text-start ps-4 col-9">
            <input type="text" id="nickname" class="nickname mb-2 ps-1" th:value="${#authentication.principal.user.userNickname}" readonly>
            <input type="text" id="introduce" class="introduce mb-2 ps-1 pe-2 py-2" th:value="${#authentication.principal.user.userIntroduce}" readonly>
            <div class="d-flex justify-content-between">
                <a id="profileModifyBtn" class="ps-1" href="#">수정</a>
                <button type="button" id="saveProfileBtn" class="btn btn-success save">저장</button>
            </div>
        </div>
    </div>
    <div class="d-flex flex-column setting-area pt-5">
        <div class="row pt-2">
            <div class="d-flex flex-row text-start">
                <div class="col-3 pe-5">
                    <h3><strong>클로그 제목</strong></h3>
                </div>
                <div class="col-7">
                    <input id="blogname" class="ps-1" type="text" th:value="${#authentication.principal.user.userBlogName}" readonly>
                </div>
                <div class="col-2 text-end">
                    <a id="blogNameModifyBtn" href="#">수정</a>
                    <button type="button" id="blogNameSaveBtn" class="btn btn-success save">저장</button>
                </div>
            </div>
            <div class="row">
                <p class="description">개인 페이지의 좌측 상단에 나타나는 페이지 제목입니다.</p>
            </div>
        </div>
        <div class="row pt-2">
            <div class="d-flex flex-row text-start">
                <div class="col-3 pe-5">
                    <h3><strong>소셜 정보</strong></h3>
                </div>
                <div class="col-7 d-flex flex-column">
                    <div class="row d-flex flex-row">
                        <div class="col-1">
                            <img src="/images/mail-icon.png" width="16" height="16"/>
                        </div>
                        <div class="col px-0">
                            <input type="text" th:value="${#authentication.principal.user.userEmail}" placeholder="이메일을 입력하세요." readonly>
                        </div>
                    </div>
                    <div class="row d-flex flex-row">
                        <div class="col-1">
                            <img src="/images/github-mark.png" width="16" height="16"/>
                        </div>
                        <div class="col px-0">
                            <input type="text" th:value="${#authentication.principal.user.userGithub}" placeholder="Github 주소를 입력하세요." readonly>
                        </div>
                    </div>
                    <div class="row d-flex flex-row">
                        <div class="col-1">
                            <img src="/images/facebook-icon.png" width="16" height="16"/>
                        </div>
                        <div class="col px-0">
                            <input type="text" th:value="${#authentication.principal.user.userFacebook}" placeholder="Facebook 주소를 입력하세요." readonly>
                        </div>
                    </div>
                    <div class="row d-flex flex-row">
                        <div class="col-1">
                            <img src="/images/twitter-icon.png" width="16" height="16"/>
                        </div>
                        <div class="col px-0">
                            <input type="text" th:value="${#authentication.principal.user.userTwitter}" placeholder="Twitter 주소를 입력하세요." readonly>
                        </div>
                    </div>
                    <div class="row d-flex flex-row">
                        <div class="col-1">
                            <img src="/images/home-mark.png" width="16" height="16"/>
                        </div>
                        <div class="col px-0">
                            <input type="text" th:value="${#authentication.principal.user.userHomepage}" placeholder="홈페이지 주소를 입력하세요." readonly>
                        </div>
                    </div>
                </div>
                <div class="col-2 text-end">
                    <a href="#">수정</a>
                </div>
            </div>
            <div class="row">
                <p class="description">포스트 및 블로그에서 보여지는 프로필에 공개되는 소셜 정보입니다.</p>
            </div>
        </div>
        <div class="row pt-2">
            <div class="d-flex flex-row text-start">
                <div class="col-3 pe-5">
                    <h3><strong>이메일 주소</strong></h3>
                </div>
                <div class="col-7">
                    <input type="text" th:value="${#authentication.principal.user.userEmail}" readonly>
                </div>
                <div class="col-2 text-end">
                    <a href="#">수정</a>
                </div>
            </div>
            <div class="row">
                <p class="description">회원 인증 또는 시스템에서 발송하는 이메일을 수신하는 주소입니다.</p>
            </div>
        </div>
        <div class="row pt-2">
            <div class="d-flex flex-row text-start">
                <div class="col-3 pe-5">
                    <h3><strong>회원 탈퇴</strong></h3>
                </div>
                <div class="col-9">
                    <button class="btn btn-danger">회원 탈퇴</button>
                </div>
            </div>
            <div class="row">
                <p class="description">탈퇴 시 작성하신 포스트 및 댓글이 모두 삭제되며 복구되지 않습니다.</p>
            </div>
        </div>
    </div>
</div>
<script>
    var fn = {
        updateImg : function (obj) {
            var formData = new FormData();
            formData.append('profileImage', obj.files[0]);

            $.ajax({
                method : 'post',
                url : '/user/updateimage',
                processData: false,
                contentType: false,
                data: formData,
                success : function (response) {
                    console.log(response.msg);
                    location.reload();
                },
                error : function (error) {
                    alert(error);
                }
            });
        },
        deleteImg : function () {
            $.ajax({
                method : 'post',
                url : '/user/deleteimage',
                datatype: 'application/json',
                success : function (response) {
                    console.log(response.msg);
                    location.reload();
                },
                error : function (error) {
                    alert(error);
                }
            });
        },
        saveProfile : function (nickname, introduce) {
            paramMap = {
                dataParam : {
                    userNickname : nickname,
                    userIntroduce : introduce
                },
                url : '/user/updateProfile'
            }

            Utils.request(paramMap, function (response) {
                console.log(response.msg);
                location.reload();
            });
        },
        saveBlogName : function (blogname) {
            paramMap = {
                dataParam : {
                    userBlogName : blogname
                },
                url : '/user/updateBlogName'
            }

            Utils.request(paramMap, function (response) {
                console.log(response.msg);
                location.reload();
            })
        }
    }

    var evt = {
        init : function () {
            this.triggerImgInput();
            this.updateImg();
            this.deleteImg();
            this.modifyProfile();
            this.saveProfile();
            this.modifyBlogName();
            this.saveBlogName();
        },
        triggerImgInput : function () {
            document.querySelector('#uploadImgBtn').addEventListener('click', function () {
               var imgInput = document.querySelector('#imgInput');
               imgInput.click();
            });
        },
        updateImg : function () {
            var imgInput = document.querySelector('#imgInput');

            // 이미지 파일이 선택되었을 때 updateImg 함수 호출
            imgInput.addEventListener('change', function () {
                fn.updateImg(this);  // 'this'는 현재 이벤트가 발생한 엘리먼트, 즉 imgInput을 가리킵니다.
            });
        },
        deleteImg : function () {
            document.querySelector('#deleteImgBtn').addEventListener('click', function () {
               fn.deleteImg();
            });
        },
        modifyProfile : function () {
            document.querySelector('#profileModifyBtn').addEventListener('click', function (evt) {
                evt.preventDefault();
                this.style.visibility = 'hidden';

                var saveProfileBtn = document.querySelector('#saveProfileBtn');
                var nickname = document.querySelector('#nickname');
                var introduce = document.querySelector('#introduce');

                nickname.classList.toggle('active');
                introduce.classList.toggle('active');
                nickname.removeAttribute('readonly');
                introduce.removeAttribute('readonly');
                saveProfileBtn.style.display = 'inline';
            });
        },
        saveProfile : function () {
            document.querySelector('#saveProfileBtn').addEventListener('click', function () {
                var nickname = document.querySelector('#nickname').value;
                var introduce = document.querySelector('#introduce').value;
                fn.saveProfile(nickname,introduce);
            });
        },
        modifyBlogName : function () {
            document.querySelector('#blogNameModifyBtn').addEventListener('click', function (evt) {
                evt.preventDefault();
                var blogname = document.querySelector('#blogname');
                var blognamesavebtn = document.querySelector('#blogNameSaveBtn');

                this.style.display = 'none';
                blogname.classList.toggle('active');
                blogname.removeAttribute('readonly');
                blognamesavebtn.style.display = 'inline';
            })
        },
        saveBlogName : function () {
            document.querySelector('#blogNameSaveBtn').addEventListener('click', function () {
                var blogname = document.querySelector('#blogname').value;
                fn.saveBlogName(blogname);
            });
        }
    }

    document.addEventListener('DOMContentLoaded', function () {
        evt.init();
    });
</script>
</body>
</html>