<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <div th:replace="common/layout/dependencies :: fragment-dependencies"></div>
    <link rel="stylesheet" href="/css/detail.css"/>
</head>
<body>
    <div th:replace="common/layout/nav :: fragment-nav"></div>
    <div class="container text-start">
        <div class="text-start">
            <h1 class="fw-bold" th:text="${postdetail.postTitle}"></h1>
            <div class="d-flex justify-content-between">
                <span>
                    <span class="fw-bold" th:text="${postdetail.user.userNickname}"> </span>
                    <span class="separator">·</span>
                    <span class="text-secondary" th:text="${#dates.format(postdetail.createDate, 'yyyy년 MM월 dd일')}"></span>
                </span>
                <span id="postmodify">
                    <th:block th:if="${isAuthorization} == true">
                        <a class="text-secondary mx-1" href="#">통계</a>
                        <a class="text-secondary mx-1" href="#">수정</a>
                        <a id="deletepost" class="text-secondary mx-1" href="#">삭제</a>
                    </th:block>
                </span>
            </div>
            <div id="tags">
                <span class="rounded-pill text-light" th:text="${postdetail.postTag}"></span>
            </div>
        </div>
        <div class="contents">
            <th:block th:utext="${postdetail.postBody}"></th:block>
        </div>
        <div class="userinfo">
            <div class="row">
                <div class="col-sm-3">
                    <img class="rounded-circle mx-auto d-block" width="128" height="128" alt="" th:if="${postdetail.user.profileImg} != null" th:src="${postdetail.user.profileImg}"/>
                    <img class="rounded-circle mx-auto d-block" width="128" height="128" alt="" th:unless="${postdetail.user.profileImg} != null" src="/images/clog_logo.png"/>
                </div>
                <div class="col-sm-9 align-self-center">
                    <div class="row">
                        <div class="col-4 col-sm-6 username">
                            <a th:href="${postdetail.user.userNo}" th:text="${postdetail.user.userNickname}"></a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4 col-sm-6 userintro">
                            <span th:if="${postdetail.user.userIntroduce} != null" th:text="${postdetail.user.userIntroduce}"></span>
                            <span th:unless="${postdetail.user.userIntroduce} != null">소개글이 없습니다.</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="social">
            <a class="github" th:if="${postdetail.user.userGithub} != null" th:href="${postdetail.user.userGithub}" target="_blank">
                <img src="/images/github-mark.png"/>
            </a>
            <a class="twitter" th:if="${postdetail.user.userTwitter} != null" th:href="${postdetail.user.userTwitter}" target="_blank">
                <img src="/images/twitter-mark.png"/>
            </a>
            <a class="homepage" th:if="${postdetail.user.userHomepage} != null" th:href="${postdetail.user.userHomepage}" target="_blank">
                <img src="/images/home-mark.png"/>
            </a>
            <a class="facebook" th:if="${postdetail.user.userFacebook} != null" th:href="${postdetail.user.userFacebook}" target="_blank">
                <img src="/images/facebook-mark.png"/>
            </a>
        </div>
        <div class="reply">
            <strong><h5 th:text="${replycount} + '개의 댓글'"></h5></strong>
            <div>
                <input id="replyinput" class="replyinput" type="text" placeholder="댓글을 작성하세요."/>
            </div>
            <div class="d-flex justify-content-end submit">
                <button id="replysubmit" class="btn btn-success px-4" type="button" style="background-color: #12B886; border: none;">댓글 작성</button>
            </div>
        </div>
        <div th:each="reply : ${replyList}">
            <div class="row">
                <div class="col-sm-1">
                    <img class="rounded-circle mx-auto d-block" width="54" height="54" alt="" th:if="${reply.user.profileImg} != null" th:src="${postdetail.user.profileImg}"/>
                    <img class="rounded-circle mx-auto d-block" width="54" height="54" alt="" th:unless="${reply.user.profileImg} != null" src="/images/clog_logo.png"/>
                </div>
                <div class="col-sm-6">
                    <div class="row">
                        <div class="col-4 col-sm-6 username">
                            <a th:href="${reply.user.userNo}" th:text="${reply.user.userNickname}"></a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4 col-sm-6 userintro">
                            <span th:text="${#dates.format(reply.replyDate, 'yyyy년 MM월 dd일 HH:mm')}"></span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-5">
                    <th:block th:if="${reply.canEdit} == true">
                        <div class="row justify-content-end">
                            <div id="replymodify" class="col-1 col-sm-4">
                                <a id="modifyreply" class="text-secondary mx-1" href="" th:data-replyno="${reply.replyNo}">수정</a>
                                <a id="replydelete" class="text-secondary mx-1" href="" th:data-replyno="${reply.replyNo}">삭제</a>
                            </div>
                        </div>
                    </th:block>
                </div>
                <div class="row replybody">
                    <textarea th:text="${reply.replyBody}" th:data-replyno="${reply.replyNo}" readonly></textarea>
                    <button id="replymodifybtn" type="button" class="btn btn-success px-4" style="display: none;">완료</button>
                    <div class="row d-flex justify-content-between">
                        <th:block th:if="${reply.reReplyCount} == 0">
                            <span class="registReply">
                                <svg width="12" height="12" fill="none" viewBox="0 0 12 12">
                                    <path fill="#12B886" d="M5.5 2.5h1v3h3v1h-3v3h-1v-3h-3v-1h3v-3z"></path>
                                    <path fill="#12B886" fill-rule="evenodd" d="M1 0a1 1 0 0 0-1 1v10a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1V1a1 1 0 0 0-1-1H1zm10 1H1v10h10V1z" clip-rule="evenodd">
                                    </path>
                                </svg>
                                <span th:id="'reReplyRegistToggle' + ${reply.replyNo}">답글 달기</span>
                            </span>
                            <div th:id="'reReplyInputBox' + ${reply.replyNo}" class="row reReply px-1 py-3 my-2">
                                <div>
                                    <input class="replyinput" type="text" placeholder="댓글을 작성하세요."/>
                                </div>
                                <div class="d-flex justify-content-end submit">
                                    <button id="reReplyRegistBtn" class="btn btn-success px-4 registbtn" type="button" style="background-color: #12B886; border: none;" th:data-reply-id="${reply.replyNo}">댓글 작성</button>
                                </div>
                            </div>
                        </th:block>
                        <th:block th:if="${reply.reReplyCount} != 0">
                            <span class="registReply">
                                <svg width="12" height="12" fill="none" viewBox="0 0 12 12">
                                    <path fill="#12B886" d="M5.5 2.5h1v3h3v1h-3v3h-1v-3h-3v-1h3v-3z"></path>
                                    <path fill="#12B886" fill-rule="evenodd" d="M1 0a1 1 0 0 0-1 1v10a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1V1a1 1 0 0 0-1-1H1zm10 1H1v10h10V1z" clip-rule="evenodd">
                                    </path>
                                </svg>
                                <span th:id="'replyCountSpan' + ${reply.replyNo}" class="replyCount" th:text="${reply.reReplyCount} + '개의 답글'" th:data-reply-id="${reply.replyNo}" th:data-reply-count="${reply.reReplyCount}"></span>
                            </span>
                            <div th:id="'reReplyList' + ${reply.replyNo}" class="reReplyList row reReply px-1 py-3 my-2">
                                <th:block th:each="reReply : ${reply.replyDTOList}">
                                    <span class="col-sm-1">
                                        <img class="rounded-circle mx-auto d-block" width="54" height="54" alt="" th:if="${reReply.user.profileImg} != null" th:src="${reReply.user.profileImg}"/>
                                        <img class="rounded-circle mx-auto d-block" width="54" height="54" alt="" th:unless="${reReply.user.profileImg} != null" src="/images/clog_logo.png"/>
                                    </span>
                                    <span class="col">
                                        <div class="row mx-auto username">
                                            <a href="#" th:text="${reReply.user.userNickname}"></a>
                                        </div>
                                        <div class="row mx-auto userintro">
                                            <span th:text="${#dates.format(reReply.reReplyDate, 'yyyy년 MM월 dd일 HH:mm')}"></span>
                                        </div>
                                    </span>
                                    <th:block th:if="${reReply.canEdit} == true">
                                        <div class="col-1 col-sm-4">
                                            <div class="d-flex justify-content-end reReplyEdit">
                                                <a class="text-secondary mx-1 reReplymodify" href="" th:data-reReplyno="${reReply.reReplyNo}">수정</a>
                                                <a class="text-secondary mx-1 reReplydelete" href="" th:data-reReplyno="${reReply.reReplyNo}">삭제</a>
                                            </div>
                                        </div>
                                    </th:block>
                                    <div class="row replybody">
                                        <textarea th:id="'reReplyTextArea' + ${reReply.reReplyNo}" th:text="${reReply.reReplyBody}" readonly></textarea>
                                        <button th:id="'reReplyModifySubmit' + ${reReply.reReplyNo}" class="btn btn-success px-4 registbtn" type="button" style="background-color: #12B886; border: none; display: none;" th:data-reReplyno="${reReply.reReplyNo}">완료</button>
                                    </div>
                                </th:block>
                                <div th:id="'reReplyInputBox' + ${reply.replyNo}" class="row reReply px-1 py-3 my-2">
                                    <div>
                                        <input class="replyinput" type="text" placeholder="댓글을 작성하세요."/>
                                    </div>
                                    <div class="d-flex justify-content-end submit">
                                        <button id="reReplyRegistBtn2" class="btn btn-success px-4 registbtn" type="button" style="background-color: #12B886; border: none;" th:data-reply-id="${reply.replyNo}">댓글 작성</button>
                                    </div>
                                </div>
                                <button th:id="'reReplyInputActiveBtn' + ${reply.replyNo}" class="btn btn-success reversed" type="button" th:data-reply-id="${reply.replyNo}">답글 작성하기</button>
                            </div>
                        </th:block>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<script>
    $(document).ready(function() {
       evt.init();
    });

    var Elbtn = document.querySelector('#replysubmit');
    var currentUrl = window.location.href;
    var lastSegment = currentUrl.substring(currentUrl.lastIndexOf('/') + 1);
    var postId = parseInt(lastSegment);

    var fn = {
        toggleReplies : function (replyId) {
            var reReplyList = document.getElementById('reReplyList' + replyId);
            var replyCountSpan = document.getElementById('replyCountSpan' + replyId);
            var replyConunt = replyCountSpan.getAttribute('data-reply-count');
            var svgIcon = replyCountSpan.previousElementSibling.querySelectorAll('svg path');

            if (reReplyList.style.display === 'none' || reReplyList.style.display === '') {
                reReplyList.style.display = 'flex';
                svgIcon[0].setAttribute('d', 'M9.5 6.5v-1h-7v1h7z');
                replyCountSpan.innerText = '숨기기';
            } else {
                reReplyList.style.display = 'none';
                svgIcon[0].setAttribute('d', 'M5.5 2.5h1v3h3v1h-3v3h-1v-3h-3v-1h3v-3z');
                replyCountSpan.innerText = replyConunt + '개의 답글';
            }
        },
        toggleRegistReply : function (replyId){
            console.log(replyId);
            var reReplyInputArea = document.getElementById('reReplyInputBox' + replyId);
            var reReplyRegistToggle = document.getElementById('reReplyRegistToggle' + replyId);
            var svgIcon = reReplyRegistToggle.previousElementSibling.querySelectorAll('svg path');

            if(reReplyInputArea.style.display === 'none' || reReplyInputArea.style.display === '') {
                reReplyInputArea.style.display = 'block';
                svgIcon[0].setAttribute('d', 'M9.5 6.5v-1h-7v1h7z');
                reReplyRegistToggle.innerText = '접기'
            } else {
                reReplyInputArea.style.display = 'none';
                svgIcon[0].setAttribute('d', 'M5.5 2.5h1v3h3v1h-3v3h-1v-3h-3v-1h3v-3z');
                reReplyRegistToggle.innerText = '답글 달기'
            }
        },
        registReReply : function (replyId) {

            var firstElement = document.getElementById('reReplyInputBox' + replyId);
            var secondElement = firstElement.children;
            var inputElement = secondElement[0].querySelector('input').value;

            console.log(inputElement);

            $.ajax({
                type: "POST",
                url: "/rereply/write",
                data: JSON.stringify({
                    replyNo: replyId,
                    reReplyBody: inputElement
                }),
                contentType: "application/json",
                success: function(response) {
                    if(response.status === "N") {
                        alert(response.msg);
                        location.href = "/login";
                        return;
                    }
                    alert(response.msg);
                    location.href = currentUrl;
                },
                error: function(error) {
                    console.log(error);
                }
            });
        },
        toggleActiveRereplyInput : function (replyId) {
            console.log(replyId);
            var inputBox = document.getElementById('reReplyInputBox' + replyId);
            var toggleBtn = document.getElementById('reReplyInputActiveBtn' + replyId);

            if(inputBox.style.display === 'none' || inputBox.style.display === '') {
                inputBox.style.display = 'flex';
                toggleBtn.innerText = '취소';
            } else {
                inputBox.style.display = 'none';
                toggleBtn.innerText = '답글 작성하기';
            }
        },
        modifyReReplyActive : function (reReplyId, modifyBtn) {
            var textarea = document.getElementById('reReplyTextArea' + reReplyId);
            var submitbtn = document.getElementById('reReplyModifySubmit' + reReplyId);

            textarea.readOnly = !textarea.readOnly;

            if (!textarea.readOnly) {
                // 편집 가능한 상태로 전환
                textarea.removeAttribute('readonly');
                textarea.focus();
                submitbtn.style.display = 'inline-block';
                modifyBtn.innerText = '취소';
            } else {
                // 읽기 전용 상태로 전환
                textarea.setAttribute('readonly', 'readonly');
                submitbtn.style.display = 'none';
                modifyBtn.innerText = '수정';
            }
        },
        reReplyModifyRequest : function (reReplyId) {
            var textarea = document.getElementById('reReplyTextArea' + reReplyId).value;

            $.ajax({
                type: "POST",
                url: "/rereply/modify",
                data: JSON.stringify({
                    reReplyNo: reReplyId,
                    reReplyBody: textarea
                }),
                contentType: "application/json",
                success: function(response) {
                    if(response.status === "N") {
                        alert(response.msg);
                        location.href = "/login";
                        return;
                    }
                    alert(response.msg);
                    location.href = currentUrl;
                },
                error: function(error) {
                    console.log(error);
                }
            });
        },
        deleteReReplyRequest : function (reReplyNo) {
            $.ajax({
                type: "POST",
                url: "/rereply/delete",
                data: JSON.stringify({
                    reReplyNo: reReplyNo,
                }),
                contentType: "application/json",
                success: function(response) {
                    if(response.status === "N") {
                        alert(response.msg);
                        location.href = "/login";
                        return;
                    }
                    alert(response.msg);
                    location.href = currentUrl;
                },
                error: function(error) {
                    console.log(error);
                }
            });
        }
    };

    var evt = {
        init : function () {
            this.writeReply();
            this.deletePost();
            this.deleteReply();
            this.modifyReply();
            this.replyModifySubmit();
            this.toggleReplies();
            this.registReReply();
            this.toggleRegistReply();
            this.toggleActiveRereplyInput();
            this.reReplyModifyActive();
            this.reReplyModifyRequest();
            this.reReplyDeleteRequest();
        },
        writeReply : function () {
            Elbtn.addEventListener('click', function () {
                var Elinput = document.querySelector('#replyinput').value;
                if(Elinput.length <= 0) {
                    alert("내용을 입력해주세요.");
                    return;
                }

                $.ajax({
                    type: "POST",
                    url: "/reply/write",
                    data: JSON.stringify({
                        replyBody: Elinput,
                        postNo: postId
                    }),
                    contentType: "application/json",
                    success: function(response) {
                        if(response.status === "N") {
                            alert(response.msg);
                            location.href = "/login";
                        } else {
                            alert(response.msg);
                            location.href = currentUrl;
                        }
                    },
                    error: function(error) {
                        alert(error.msg);
                    }
                });
            });
        },
        deletePost : function () {
            document.addEventListener('DOMContentLoaded', function () {
                var element = document.querySelector("#deletepost");
                if(element){
                    document.querySelector("#deletepost").addEventListener('click', function () {
                        $.ajax({
                            type: "POST",
                            url: "/post/delete",
                            data: JSON.stringify({
                                postNo: postId
                            }),
                            contentType: "application/json",
                            success: function(response) {
                                if(response.code === "200") {
                                    alert(response.msg);
                                    location.href = "/dashboard";
                                } else {
                                    alert(response.msg);
                                    location.href = currentUrl;
                                }
                            },
                            error: function(error) {
                                alert(error.msg);
                            }
                        });
                    });
                }
            });
        },
        deleteReply: function () {
            var element = document.querySelectorAll('#replydelete');
            if(element) {
                element.forEach(function (deleteBtn, index) {
                    deleteBtn.addEventListener('click', function(event) {
                        event.preventDefault();
                        if(!confirm('정말 삭제하시겠습니까?')) {
                            return;
                        }

                        $.ajax({
                            type: "POST",
                            url: "/reply/delete",
                            data: JSON.stringify({
                                replyNo: deleteBtn.getAttribute('data-replyno')
                            }),
                            contentType: "application/json",
                            success: function(response) {
                                alert(response.msg);
                                location.href = currentUrl;
                            },
                            error: function(error) {
                                alert(error.msg);
                            }
                        });
                    });
                });
            }
        },
        modifyReply: function () {
            document.querySelectorAll('#modifyreply').forEach(function (modifyBtn, index) {
                modifyBtn.addEventListener('click', function (event) {
                    event.preventDefault();
                    var parentRow = event.target.closest('.row');
                    var grandParentRow = parentRow.closest('.col-sm-5')
                    var brotherRow = grandParentRow.nextElementSibling;
                    var textarea = brotherRow.querySelector('textarea');
                    var btn = textarea.nextElementSibling;

                    textarea.readOnly = !textarea.readOnly;

                    if (!textarea.readOnly) {
                        // 편집 가능한 상태로 전환
                        textarea.removeAttribute('readonly');
                        textarea.focus();
                        modifyBtn.innerText = '취소';
                        btn.style.display = 'inline-block';
                    } else {
                        // 읽기 전용 상태로 전환
                        textarea.setAttribute('readonly', 'readonly');
                        modifyBtn.innerText = '수정';
                        btn.style.display = 'none';
                    }
                });
            });
        },
        replyModifySubmit: function () {
            document.querySelectorAll('#replymodifybtn').forEach(function (modifyBtn, index) {
                modifyBtn.addEventListener('click', function () {
                    var brotherElement = document.querySelector('#replymodifybtn').previousElementSibling;

                    if(!confirm('이대로 수정하시겠습니까?')) {
                        return;
                    }

                    $.ajax({
                        type: "POST",
                        url: "/reply/modify",
                        data: JSON.stringify({
                            replyNo: brotherElement.getAttribute('data-replyno'),
                            replyBody: brotherElement.value
                        }),
                        contentType: "application/json",
                        success: function(response) {
                            alert(response.msg);
                            location.href = currentUrl;
                        },
                        error: function(error) {
                            alert(error.msg);
                        }
                    });
                });
            });
        },
        toggleReplies : function() {
            document.querySelectorAll('.replyCount').forEach(function (toggleBtn, evt) {
                toggleBtn.addEventListener('click', function (evt) {
                    evt.preventDefault();
                    var replyId = this.getAttribute('data-reply-id');
                    fn.toggleReplies(replyId);
                });
            });
        },
        registReReply : function () {
            document.querySelectorAll('.registbtn').forEach(function (registBtn) {
                registBtn.addEventListener('click', function (event) {
                    var replyId = event.target.dataset.replyId;
                    fn.registReReply(replyId);
                });
            })
        },
        toggleRegistReply : function (){
            document.querySelectorAll('[id*=reReplyRegistToggle]').forEach(function (toggleBtn) {
               toggleBtn.addEventListener('click', function () {
                   var replyId = toggleBtn.getAttribute('id').match(/\d+/);
                   fn.toggleRegistReply(replyId[0]);
               });
            });
        },
        toggleActiveRereplyInput : function () {
            document.querySelectorAll('[id*=reReplyInputActiveBtn]').forEach(function (btn) {
                btn.addEventListener('click', function () {
                    var replyId = btn.getAttribute('id').match(/\d+/);
                    fn.toggleActiveRereplyInput(replyId[0]);
                });
            });
        },
        reReplyModifyActive : function () {
            document.querySelectorAll('.reReplymodify').forEach(function (modifyBtn) {
               modifyBtn.addEventListener('click', function (evt) {
                   evt.preventDefault();
                   var reReplyNo = modifyBtn.getAttribute('data-reReplyno');
                   fn.modifyReReplyActive(reReplyNo, modifyBtn);
               });
            });
        },
        reReplyModifyRequest : function () {
            document.querySelectorAll('[id*=reReplyModifySubmit]').forEach(function (btn) {
               btn.addEventListener('click', function () {
                   var reReplyId = btn.getAttribute('id').match(/\d+/);
                   fn.reReplyModifyRequest(reReplyId[0]);
               })
            });
        },
        reReplyDeleteRequest : function () {
            document.querySelectorAll('.reReplydelete').forEach(function (btn) {
                btn.addEventListener('click', function (evt) {
                    evt.preventDefault();
                    var reReplyNo = btn.getAttribute('data-reReplyno');
                    fn.deleteReReplyRequest(reReplyNo);
                })
            });
        }
    }
</script>
</html>