<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <div th:replace="common/layout/dependencies :: fragment-dependencies"></div>
    <link rel="stylesheet" href="/css/detail.css"/>
</head>
<body>
    <div th:replace="common/layout/nav :: fragment-nav"></div>
    <div class="container text-start">
        <div class="text-start">
            <h1 class="fw-bold" th:text="${postdetail.postTitle}"></h1>
            <div class="d-flex justify-content-between">
                <span>
                    <span class="fw-bold" th:text="${postdetail.user.userNickname}"> </span>
                    <span class="separator">·</span>
                    <span class="text-secondary" th:text="${#dates.format(postdetail.createDate, 'yyyy년 MM월 dd일')}"></span>
                </span>
                <span id="postmodify">
                    <th:block th:if="${isAuthorization} == true">
                        <a class="text-secondary mx-1" href="#">통계</a>
                        <a class="text-secondary mx-1" href="#">수정</a>
                        <a class="text-secondary mx-1" href="#">삭제</a>
                    </th:block>
                </span>
            </div>
            <div id="tags">
                <span class="rounded-pill text-light" th:text="${postdetail.postTag}"></span>
            </div>
        </div>
        <div class="contents">
            <th:block th:utext="${postdetail.postBody}"></th:block>
        </div>
        <div class="userinfo">
            <div class="row">
                <div class="col-sm-3">
                    <img class="rounded-circle mx-auto d-block" width="128" height="128" alt="" th:if="${postdetail.user.profileImg} != null" th:src="${postdetail.user.profileImg}"/>
                    <img class="rounded-circle mx-auto d-block" width="128" height="128" alt="" th:unless="${postdetail.user.profileImg} != null" src="/images/clog_logo.png"/>
                </div>
                <div class="col-sm-9 align-self-center">
                    <div class="row">
                        <div class="col-4 col-sm-6 username">
                            <a th:href="${postdetail.user.userNo}" th:text="${postdetail.user.userNickname}"></a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4 col-sm-6 userintro">
                            <span th:text="${postdetail.user.userIntroduce}"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="social">
            <a class="github" th:if="${postdetail.user.userGithub} != null" th:href="${postdetail.user.userGithub}" target="_blank">
                <img src="/images/github-mark.png"/>
            </a>
            <a class="twitter" th:if="${postdetail.user.userTwitter} != null" th:href="${postdetail.user.userTwitter}" target="_blank">
                <img src="/images/twitter-mark.png"/>
            </a>
            <a class="homepage" th:if="${postdetail.user.userHomepage} != null" th:href="${postdetail.user.userHomepage}" target="_blank">
                <img src="/images/home-mark.png"/>
            </a>
            <a class="facebook" th:if="${postdetail.user.userFacebook} != null" th:href="${postdetail.user.userFacebook}" target="_blank">
                <img src="/images/facebook-mark.png"/>
            </a>
        </div>
        <div class="reply">
            <strong><h5 th:text="${replycount} + '개의 댓글'"></h5></strong>
            <div>
                <input id="replyinput" class="replyinput" type="text" placeholder="댓글을 작성하세요."/>
            </div>
            <div class="d-flex justify-content-end submit">
                <button class="btn btn-success px-4" type="button" style="background-color: #12B886; border: none;">댓글 작성</button>
            </div>
        </div>
        <div th:each="reply : ${replyList}">
            <div class="row">
                <div class="col-sm-1">
                    <img class="rounded-circle mx-auto d-block" width="54" height="54" alt="" th:if="${reply.user.profileImg} != null" th:src="${postdetail.user.profileImg}"/>
                    <img class="rounded-circle mx-auto d-block" width="54" height="54" alt="" th:unless="${reply.user.profileImg} != null" src="/images/clog_logo.png"/>
                </div>
                <div class="col-sm-9 align-self-center">
                    <div class="row">
                        <div class="col-4 col-sm-6 username">
                            <a th:href="${reply.user.userNo}" th:text="${reply.user.userNickname}"></a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4 col-sm-6 userintro">
                            <span th:text="${#dates.format(reply.replyDate, 'yyyy년 MM월 dd일')}"></span>
                        </div>
                    </div>
                </div>
                <div class="row replybody">
                    <div th:text="${reply.replyBody}"></div>
                </div>
            </div>
        </div>
    </div>
</body>
<script>
</script>
</html>