<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <div th:replace="common/layout/dependencies :: fragment-dependencies"></div>
    <link rel="stylesheet" href="/css/detail.css"/>
</head>
<body>
    <div th:replace="common/layout/nav :: fragment-nav"></div>
    <div class="container text-start">
        <div class="text-start">
            <h1 class="fw-bold" th:text="${postdetail.postTitle}"></h1>
            <div class="d-flex justify-content-between">
                <span>
                    <span class="fw-bold" th:text="${postdetail.user.userNickname}"> </span>
                    <span class="separator">·</span>
                    <span class="text-secondary" th:text="${#dates.format(postdetail.createDate, 'yyyy년 MM월 dd일')}"></span>
                </span>
                <span id="postmodify">
                    <th:block th:if="${isAuthorization} == true">
                        <a class="text-secondary mx-1" href="#">통계</a>
                        <a class="text-secondary mx-1" href="#">수정</a>
                        <a id="deletepost" class="text-secondary mx-1" href="#">삭제</a>
                    </th:block>
                </span>
            </div>
            <div id="tags">
                <span class="rounded-pill text-light" th:text="${postdetail.postTag}"></span>
            </div>
        </div>
        <div class="contents">
            <th:block th:utext="${postdetail.postBody}"></th:block>
        </div>
        <div class="userinfo">
            <div class="row">
                <div class="col-sm-3">
                    <img class="rounded-circle mx-auto d-block" width="128" height="128" alt="" th:if="${postdetail.user.profileImg} != null" th:src="${postdetail.user.profileImg}"/>
                    <img class="rounded-circle mx-auto d-block" width="128" height="128" alt="" th:unless="${postdetail.user.profileImg} != null" src="/images/clog_logo.png"/>
                </div>
                <div class="col-sm-9 align-self-center">
                    <div class="row">
                        <div class="col-4 col-sm-6 username">
                            <a th:href="${postdetail.user.userNo}" th:text="${postdetail.user.userNickname}"></a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4 col-sm-6 userintro">
                            <span th:if="${postdetail.user.userIntroduce} != null" th:text="${postdetail.user.userIntroduce}"></span>
                            <span th:unless="${postdetail.user.userIntroduce} != null">소개글이 없습니다.</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="social">
            <a class="github" th:if="${postdetail.user.userGithub} != null" th:href="${postdetail.user.userGithub}" target="_blank">
                <img src="/images/github-mark.png"/>
            </a>
            <a class="twitter" th:if="${postdetail.user.userTwitter} != null" th:href="${postdetail.user.userTwitter}" target="_blank">
                <img src="/images/twitter-mark.png"/>
            </a>
            <a class="homepage" th:if="${postdetail.user.userHomepage} != null" th:href="${postdetail.user.userHomepage}" target="_blank">
                <img src="/images/home-mark.png"/>
            </a>
            <a class="facebook" th:if="${postdetail.user.userFacebook} != null" th:href="${postdetail.user.userFacebook}" target="_blank">
                <img src="/images/facebook-mark.png"/>
            </a>
        </div>
        <div class="reply">
            <strong><h5 th:text="${replycount} + '개의 댓글'"></h5></strong>
            <div>
                <input id="replyinput" class="replyinput" type="text" placeholder="댓글을 작성하세요."/>
            </div>
            <div class="d-flex justify-content-end submit">
                <button id="replysubmit" class="btn btn-success px-4" type="button" style="background-color: #12B886; border: none;">댓글 작성</button>
            </div>
        </div>
        <div th:each="reply : ${replyList}">
            <div class="row">
                <div class="col-sm-1">
                    <img class="rounded-circle mx-auto d-block" width="54" height="54" alt="" th:if="${reply.user.profileImg} != null" th:src="${postdetail.user.profileImg}"/>
                    <img class="rounded-circle mx-auto d-block" width="54" height="54" alt="" th:unless="${reply.user.profileImg} != null" src="/images/clog_logo.png"/>
                </div>
                <div class="col-sm-6">
                    <div class="row">
                        <div class="col-4 col-sm-6 username">
                            <a th:href="${reply.user.userNo}" th:text="${reply.user.userNickname}"></a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4 col-sm-6 userintro">
                            <span th:text="${#dates.format(reply.replyDate, 'yyyy년 MM월 dd일 HH:mm')}"></span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-5">
                    <th:block th:if="${reply.canEdit} == true">
                        <div class="row justify-content-end">
                            <div id="replymodify" class="col-1 col-sm-4">
                                <a id="modifyreply" class="text-secondary mx-1" href="" th:data-replyno="${reply.replyNo}">수정</a>
                                <a id="replydelete" class="text-secondary mx-1" href="" th:data-replyno="${reply.replyNo}">삭제</a>
                            </div>
                        </div>
                    </th:block>
                </div>
                <div class="row replybody">
                    <textarea th:text="${reply.replyBody}" th:data-replyno="${reply.replyNo}" readonly></textarea>
                    <button id="replymodifybtn" type="button" class="btn btn-success px-4" style="display: none;">완료</button>
                </div>
            </div>
        </div>
    </div>
</body>
<script>
    $(document).ready(function() {
       evt.writeReply();
       evt.deletePost();
       evt.deleteReply();
       evt.modifyReply();
       evt.replyModifySubmit();
    });

    var Elbtn = document.querySelector('#replysubmit');
    var currentUrl = window.location.href;
    var lastSegment = currentUrl.substring(currentUrl.lastIndexOf('/') + 1);
    var postId = parseInt(lastSegment);

    var evt = {
        writeReply : function () {
            Elbtn.addEventListener('click', function () {
                var Elinput = document.querySelector('#replyinput').value;
                if(Elinput.length <= 0) {
                    alert("내용을 입력해주세요.");
                    return;
                }

                $.ajax({
                    type: "POST",
                    url: "/reply/write",
                    data: JSON.stringify({
                        replyBody: Elinput,
                        postNo: postId
                    }),
                    contentType: "application/json",
                    success: function(response) {
                        if(response.status === "N") {
                            alert(response.msg);
                            location.href = "/login";
                        } else {
                            alert(response.msg);
                            location.href = currentUrl;
                        }
                    },
                    error: function(error) {
                        alert(error.msg);
                    }
                });
            });
        },
        deletePost : function () {
            document.querySelector("#deletepost").addEventListener('click', function () {
                $.ajax({
                    type: "POST",
                    url: "/post/delete",
                    data: JSON.stringify({
                        postNo: postId
                    }),
                    contentType: "application/json",
                    success: function(response) {
                        if(response.code === "200") {
                            alert(response.msg);
                            location.href = "/dashboard";
                        } else {
                            alert(response.msg);
                            location.href = currentUrl;
                        }
                    },
                    error: function(error) {
                        alert(error.msg);
                    }
                });
            });
        },
        deleteReply: function () {
            document.querySelector('#replydelete').addEventListener('click', function(event) {
                event.preventDefault();
                if(!confirm('정말 삭제하시겠습니까?')) {
                    return;
                }

                $.ajax({
                    type: "POST",
                    url: "/reply/delete",
                    data: JSON.stringify({
                        replyNo: document.querySelector('#replydelete').getAttribute('data-replyno')
                    }),
                    contentType: "application/json",
                    success: function(response) {
                        alert(response.msg);
                        location.href = currentUrl;
                    },
                    error: function(error) {
                        alert(error.msg);
                    }
                });
            });
        },
        modifyReply: function () {
            document.querySelector('#modifyreply').addEventListener('click', function (event) {
               event.preventDefault();
               var parentRow = event.target.closest('.row');
               var grandParentRow = parentRow.closest('.col-sm-5')
               var brotherRow = grandParentRow.nextElementSibling;
               var textarea = brotherRow.querySelector('textarea');
               var btn = textarea.nextElementSibling;

               textarea.readOnly = !textarea.readOnly;

               if (!textarea.readOnly) {
                  // 편집 가능한 상태로 전환
                  textarea.removeAttribute('readonly');
                  textarea.focus();
                  btn.style.display = 'inline-block';
               } else {
                  // 읽기 전용 상태로 전환
                  textarea.setAttribute('readonly', 'readonly');
                  btn.style.display = 'none';
               }
            });
        },
        replyModifySubmit: function () {
            document.querySelector('#replymodifybtn').addEventListener('click', function () {
                var brotherElement = document.querySelector('#replymodifybtn').previousElementSibling;

                if(!confirm('이대로 수정하시겠습니까?')) {
                    return;
                }

                $.ajax({
                    type: "POST",
                    url: "/reply/modify",
                    data: JSON.stringify({
                        replyNo: brotherElement.getAttribute('data-replyno'),
                        replyBody: brotherElement.value
                    }),
                    contentType: "application/json",
                    success: function(response) {
                        alert(response.msg);
                        location.href = currentUrl;
                    },
                    error: function(error) {
                        alert(error.msg);
                    }
                });
            });
        }
    }
</script>
</html>