<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="common/layout/dependencies :: fragment-dependencies"></div>
    <script src="https://uicdn.toast.com/editor/latest/toastui-editor-all.min.js"></script>
    <link rel="stylesheet" href="https://uicdn.toast.com/editor/latest/toastui-editor.min.css" />
    <link rel="stylesheet" href="/css/postWrite.css"/>
</head>
<body>
    <div class="inputblock">
        <input id="postTitle" type="text" placeholder="제목을 입력하세요" onfocus="this.placeholder=''" onblur="this.placeholder='제목을 입력하세요'"/><br>
        <input id="postTag" type="text" placeholder="태그를 입력하세요" onfocus="this.placeholder=''" onblur="this.placeholder='태그를 입력하세요'">
    </div>
    <div id="content">
    </div>
    <button id="submitbtn" type="button" class="btn btn-primary btn-lg w-100 border-0">저장하기</button>
</body>
<script>
    const editor = new toastui.Editor({
        el: document.querySelector('#content'), // 에디터를 적용할 요소 (컨테이너)
        height: '690px',                        // 에디터 영역의 높이 값 (OOOpx || auto)
        initialEditType: 'markdown',            // 최초로 보여줄 에디터 타입 (markdown || wysiwyg)
        initialValue: '내용을 입력해 주세요.',  // 내용의 초기 값으로, 반드시 마크다운 문자열 형태여야 함
        previewStyle: 'vertical',               // 마크다운 프리뷰 스타일 (tab || vertical)
        hooks: {
            async addImageBlobHook(blob, callback) { // 이미지 업로드 로직 커스텀
                try {
                    /*
                     * 1. 에디터에 업로드한 이미지를 FormData 객체에 저장
                     *    (이때, 컨트롤러 uploadEditorImage 메서드의 파라미터인 'image'와 formData에 append 하는 key('image')값은 동일해야 함)
                     */
                    const formData = new FormData();
                    formData.append('image', blob);

                    // 2. FileApiController - uploadEditorImage 메서드 호출
                    const response = await fetch('/tui-editor/image-upload', {
                        method : 'POST',
                        body : formData,
                    });

                    // 3. 컨트롤러에서 전달받은 디스크에 저장된 파일명
                    const filename = await response.text();
                    console.log('서버에 저장된 파일명 : ', filename);

                    // 4. addImageBlobHook의 callback 함수를 통해, 디스크에 저장된 이미지를 에디터에 렌더링
                    const imageUrl = `/tui-editor/image-print?filename=${filename}`;
                    callback(imageUrl, 'image alt attribute');

                } catch (error) {
                    console.error('업로드 실패 : ', error);
                }
            }
        }
    });

    $(document).ready(function () {
       evt.postSubmit();
       evt.modifyPostData();
    });

    var postNo;

    var fn = {
        savePost : function () {
            if(editor.getMarkdown().length < 1) {
                alert('내용을 입력해주세요.');
            }

            const url = '/post/write';
            const params = {
                postNo : postNo,
                postTitle : document.querySelector('#postTitle').value,
                postTag : document.querySelector('#postTag').value,
                postBody : editor.getHTML()
            };

            $.ajax({
                type: "POST",
                url: url,
                data: JSON.stringify(params),
                contentType: "application/json",
                success: function(response) {
                    alert(response.msg);
                    if(response.status == "fail") {
                        console.log(response.status);
                        return;
                    }
                    location.href = "/";
                },
                error: function(error) {
                    alert(error.msg);
                }
            });
        },
        modifyPostData : function(postId) {
            $.ajax({
                type: "POST",
                url: "/post/checkdata",
                data: JSON.stringify({
                    postId: postId
                }),
                contentType: "application/json",
                success: function(response) {
                    editor.setMarkdown(response.checkData);
                    postNo = response.postNo;
                    document.getElementById('postTitle').value = response.postTitle;
                    document.getElementById('postTag').value = response.postTag;
                },
                error: function(error) {
                    alert(error);
                }
            });
        }
    }

    var evt = {
        postSubmit : function () {
            document.querySelector('#submitbtn').addEventListener('click', function () {
               fn.savePost();
            });
        },
        modifyPostData : function () {
            var currentUrl = window.location.href;
            var lastSegment = currentUrl.substring(currentUrl.lastIndexOf('/') + 1);
            var postId;

            if(!isNaN(lastSegment)) {
                postId = parseInt(lastSegment);
                fn.modifyPostData(postId);
            } else {
                console.log('not exist PostId');
            }
        }
    }
</script>
</html>