<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="common/layout/dependencies :: fragment-dependencies"></div>
    <link rel="stylesheet" href="/css/regist.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jsSHA/2.3.1/sha.js"></script>
</head>
<body>
    <div class="container">
        <div class="input-form-backgroud row">
            <div class="input-form col-md-12 mx-auto">
                <h4 class="mb-3">회원가입</h4>
                <form id="validation-form" class="validation-form">
                    <div class="mb-3">
                        
                        <div class="mb-3">
                            <label for="userid">아이디(필수)</label>
                            <input type="text" class="form-control" id="userid" placeholder="영문 숫자조합 6자리 이상" value="" required>
                        </div>
                    </div>

                    <div class="mb-3">
                        <div class="mb-3">
                            <label for="password">비밀번호(필수)</label>
                            <input type="password" class="form-control" id="password" placeholder="영문 숫자조합 8자리 이상" value="" required>
                        </div>
                    </div>

                    <div class="mb-3">
                        <div class="mb-3">
                            <label for="usernickname">닉네임</label>
                            <input type="text" class="form-control" id="usernickname" placeholder="영문 or 한글 7자리 이하" value="" maxlength="7">
                        </div>
                    </div>

                    <div class="mb-3">
                        <div class="mb-3">
                            <label for="email">이메일</label>
                            <input type="text" class="form-control" id="email" placeholder="ex) example@clog.com" value="">
                        </div>
                    </div>

                    <div class="text-center">
                        <button class="btn btn-primary btn-lg btn-block" type="submit">가입 완료</button>
                    </div>
                </form>
            </div>
        </div>
        <footer class="my-3 text-center text-small">
            <p class="mb-1 text-light">&copy; hanqjun2660</p>
        </footer>
    </div>
</body>

<script>
    var fn = {
        validateUserID : function (userid) {
            var pattern = /^[a-zA-Z0-9]{6,}$/;
            return pattern.test(userid);
        },
        validatePassword : function (password) {
            var pattern = /^(?=.*[a-zA-Z])(?=.*\d)(?=.*[!@#$%^&*()_+{}\[\]:;<>,.?~\\-]).{8,}$/;
            return pattern.test(password);
        },
        validateEmail : function (email) {
            var pattern = /^[a-zA-Z0-9._-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}$/;
            return pattern.test(email);
        },
        validateNickname : function (nickname) {
            var pattern = /^[A-Za-z가-힣]{1,7}$/;
            return pattern.test(nickname);
        },
        sha512 : function (password) {
            var sha512 = new jsSHA('SHA-512', 'TEXT');
            sha512.update(password);
            return sha512.getHash('HEX');
        }
    }

    $("#validation-form").submit(function(event) {
        event.preventDefault(); // 기본 제출 동작 방지

        var userid = $("#userid").val();
        var password = $("#password").val();
        var usernickname = $("#usernickname").val();
        var email = $("#email").val();

        // 각 입력 필드별 유효성 검사
        if (!fn.validateUserID(userid)) {
            alert("사용자 ID는 6자리 이상의 영문 숫자조합이어야 합니다.");
        } else if (!fn.validatePassword(password)) {
            alert("비밀번호는 6자리 이상의 영문 숫자조합이어야 합니다.");
        } else if(!fn.validateNickname(usernickname)) {
            alert("닉네임은 7자리 이하여야 합니다.")
        } else if (!fn.validateEmail(email)) {
            alert("유효한 이메일 주소를 입력해주세요.");
        } else {
            // 유효성 검사 통과 시 POST 요청 보내기
            $.ajax({
                type: "POST",
                url: "/user/regist",
                data: JSON.stringify({
                    userId: userid,
                    userPw: fn.sha512(password),
                    userNickname: usernickname,
                    userEmail: email
                }),
                contentType: "application/json",
                success: function(response) {
                    alert(response.msg);
                    if(response.status === '500') {
                        return;
                    } else {
                        location.href = "/login";
                    }
                },
                error: function(error) {
                    alert(error.msg);
                }
            });
        }
    });
</script>
</html>