@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

.container {
    font-family: 'Pretendard-Regular';
}

.container {
    width: 768px;
    margin-top: 88px;
}

h1 {
    font-size: 3rem;
    margin-bottom: 32px;
}

#tags {
    margin-top: 14px;
}

#tags span {
    background-color: #f8f9fa;
    color: #12b886 !important;
    padding: 4px 16px 4px 16px;
}

.contents {
    margin-top: 80px;
}

#postmodify a {
    text-decoration: none;
    color: gray;
}

#postmodify a:hover {
    color: black;
}

.toastui-editor-ww-code-block {
    background-color: #FBFCFD;
}

.userinfo {
    margin-top: 150px;
    margin-bottom: 25px;
    padding-bottom: 20px;
    border-bottom: solid lightgray 2px;
}

.username a {
    font-size: 25px;
    color: black;
    font-weight: bold;
    text-decoration: none;
}

.userintro span {
    font-size: 18px;
}

.social {
    margin-bottom: 80px;
}

.social a {
    text-decoration: none;
    margin: 5px;
}

.social a > img {
    width: 32px;
    height: 32px;
}