.btn-success {
    background-color: #12B886;
    border: none;
    font-weight: bolder;
}

.btn-success:hover {
    background-color: #14CF97;
}

.btn-reverse {
    background-color: white;
    color: #12B886;
}

.btn-reverse:hover {
    background-color: #F1F3F5;
    color: #12B886;
}

.img-area {
    border-right: 1px solid lightgray;
}

a {
    color: #12B886;
}