<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
</head>
<body>
<nav class="px-5" th:fragment="fragment-nav">
    <div class="container-fluid pl-5 py-2 d-flex align-item-center justify-content-between mt-2">
        <a class="navbar-brand" href="/dashboard">
            <img src="/images/clog_text_logo.png" alt="Logo" width="71" height="40" class="d-inline-block align-text-top ml-30">
        </a>
        <span class="d-flex align-items-center">
            <a href="/search" class="me-3"><svg width="18" height="18" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 17 17"><path fill-rule="evenodd" d="M13.66 7.36a6.3 6.3 0 1 1-12.598 0 6.3 6.3 0 0 1 12.598 0zm-1.73 5.772a7.36 7.36 0 1 1 1.201-1.201l3.636 3.635c.31.31.31.815 0 1.126l-.075.075a.796.796 0 0 1-1.126 0l-3.636-3.635z"></path></svg></a>
            <th:block sec:authorize="isAuthenticated()">
                <a class="btn btn-outline-dark rounded-pill px-3 py-1 me-3" href="/post/write"><strong>새 글 작성</strong></a>
                <th:block th:if="${#authentication.principal.user.profileImg != null}" style="white-space: nowrap;">
                    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">
                        <img th:src="${#authentication.principal.user.profileImg}" alt="Logo" width="40" height="40" class="rounded-circle" style="object-fit: cover;">
                    </a>
                </th:block>
                <th:block th:unless="${#authentication.principal.user.profileImg != null}" style="white-space: nowrap;">
                    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">
                        <img src="/images/clog_logo.png" alt="Default Logo" width="40" height="40" class="rounded-circle" style="object-fit: cover;">
                    </a>
                </th:block>
                <ul class="dropdown-menu mt-2">
                    <li><a class="dropdown-item" th:href="'/blog/' + ${#authentication.principal.user.userBlogName}" >내 클로그</a></li>
                    <li><a class="dropdown-item" href="/like/list">읽기 목록</a></li>
                    <li><a class="dropdown-item" href="/setting">설정</a></li>
                    <li><a class="dropdown-item" href="/logout">로그아웃</a></li>
                </ul>
            </th:block>
            <th:block sec:authorize="isAnonymous()">
                <a class="btn btn-outline-dark rounded-pill px-3 py-1 me-3" href="/login"><strong>로그인</strong></a>
            </th:block>
        </span>
    </div>
</nav>
</body>
</html>